[2017-04-10 20:37] Fryguy opened #7 "Remove openstack handle code from manageiq-gems-pending"
Now that the Openstack provider has its own repo, it's time to move the openstack specific code from manageiq-gems-pending to here.  See https://github.com/ManageIQ/manageiq-gems-pending/tree/master/lib/gems/pending/openstack.

Additionally there is https://github.com/ManageIQ/manageiq-gems-pending/tree/master/lib/gems/pending/OpenStackExtract/MiqOpenStackVm , which should also probably come over,

[2017-04-12 10:34] durandom opened #10 "move provider specific settings"
see the [amazon settings](https://github.com/ManageIQ/manageiq-providers-amazon/blob/master/config/settings.yml) for what can be moved

[2017-04-12 14:38] aufi commented on #7
@miq-bot assign aufi

[2017-04-12 14:39] aufi commented on #10
Ok, thanks for pointing to settings.
@miq-bot assign aufi

[2017-04-20 19:09] tzumainn opened #21 "Instance Snapshots are not part of refresh"
Instance snapshots are not part of refresh; instead, they are manually created/removed in cloud_manager.rb methods.

[2017-04-21 15:26] durandom opened #23 "move openstack specific events"
similar to moving the settings we can also move event names (see [amazon](https://github.com/ManageIQ/manageiq-providers-amazon/pull/163/files) for an example)

[2017-04-24 13:01] #10 closed

[2017-05-15 12:49] andyvesel opened #34 "Duplicate method names for Cloud Tenant"
We have a [CRUD methods](https://github.com/andyvesel/manageiq-providers-openstack/blob/master/app/models/manageiq/providers/openstack/cloud_manager/cloud_tenant.rb#L15) for Cloud Tenant base model in this repo.

Also we have a [methods](https://github.com/ManageIQ/manageiq/blob/master/app/models/cloud_tenant.rb#L40) with identical names but different body in a Cloud Tenant model for a main repo.

[2017-05-15 12:54] aufi commented on #34
This example with CloudTenant methods looks to be correct for me. Are there other object methods looking wrong?

[2017-05-16 12:53] andyvesel commented on #34
Yes, it seems like there's neither any mistake here, nor any other objects wrong. So, I'm closing the issue.

[2017-05-16 12:53] #34 closed

[2017-05-18 00:11] gildub opened #36 "Spec: Need test sets for network manager"
Support is required for network_manager related tests for the following:

- [x] Network provider structure and provisioning
- [x] Network Router
- [x] Cloud Network
- [x] Cloud Subnet
- [x] Security Groups
- [x] Security Groups rules
- [x] Floating IPs

[2017-05-18 01:13] gildub commented on #36
@Ladas ,

The network manager is a bit of an hybrid as compared to the cloud and infra ones.
Do you have requirement ideas and recommendations for the `spec/models/manageiq/providers/openstack/network_manager/`?

Thanks

[2017-05-18 06:04] Ladas commented on #36
@gildub yeah I suppose the spec/models/manageiq/providers/openstack/network_manager/ should work, we are using the same in AWS

[2017-05-18 07:56] gildub commented on #36
@Ladas,  ok, thanks

[2017-05-18 07:56] gildub commented on #36
https://github.com/ManageIQ/manageiq-providers-openstack/pull/37

[2017-05-19 02:30] chessbyte commented on #7
@aufi @tzumainn Please extract `https://github.com/ManageIQ/manageiq-gems-pending/tree/master/lib/gems/pending/openstack`.

I am in the process of extracting `https://github.com/ManageIQ/manageiq-gems-pending/tree/master/lib/gems/pending/OpenStackExtract` to a new `manageiq-smartstate` repo.

[2017-05-19 07:44] aufi commented on #7
@chessbyte Yes, I will do that. Thanks for clarification.

[2017-05-26 20:48] Fryguy commented on #7
@aufi The smartstate code has been extracted from manageiq-gems-pending into manageiq-smartstate.

[2017-05-31 08:07] aufi commented on #7
The code was removed in https://github.com/ManageIQ/manageiq-gems-pending/pull/119

[2017-05-31 08:07] #7 closed

[2017-06-02 08:34] aufi opened #51 "Minimize require dependencies in code"
We imported code from several ManageIQ repositories. There are some legacy parts which should be refactored. We should start with removing not needed dependecies and possibly remove ```require "..."``` from ruby files where is it not really needed.

[2017-06-05 08:08] miq-bot opened #52 "OpenStack: add new cloud-provider ignores worker zone configuration."
# environment

 - an openstack cloud is deployed in the zone-boston
 - MIQ is deployed in:
      - WEBGUI+pgsql:  zone-atlanta,
      - WORKER: zone-boston
  - only the zone-boston worker can see openstack

# reproduce

  0. open MIQ webgui in zone-atlanta
  1. add openstack cloud provider specifying zone-boston
  2. click "validate"

# I expect

  1. MIQ-WEB delegate the validation to zone-boston

[2017-06-06 07:40] aufi commented on #23
All PRs were merged including fix https://github.com/ManageIQ/manageiq-providers-openstack/pull/53

[2017-06-06 07:40] #23 closed

[2017-07-15 05:20] miq-bot opened #66 "Ineffective check for OpenStack clone vm action"
https://github.com/ManageIQ/manageiq/blob/ac2ce298aa9af7c34f791c15ffc95362a8ab106c/app/models/miq_provision_openstack/cloning.rb#L4

This will obtain potentially thousands of records over several API calls, just to filter one in ruby for some check before cloning.

There needs to be multi-tenant get call, that will grab max one record per each tenant, using it's uuid.

---

*This issue was moved t

[2017-07-26 18:38] tjyang opened #70 "openstack provider failed to do status update"
* On our miq02 which is running latest code from master. The openstack provider failed to do status refresh. The connected openstack is Ubuntu openstack added as Cloud provider.
* Same openstack farm connected to Fine-2 miq fine without refresh issue.

[code]
* Screenshot

![image](https://user-images.githubusercontent.com/378638/28637426-16e8ea9a-7207-11e7-8a77-533c4a9dd8a9.png)

*  EVM Log file

[2017-07-26 18:42] tzumainn commented on #70
Would it be possible to get the full evm.log somewhere?

Is this just an openstack cloud provider, or is there also an openstack infra provider? I'm curious because a cloud provider shouldn't read Hosts otherwise.

[2017-07-26 19:13] tjyang commented on #70
@tzumainn , Thanks for the response. Please see my updated post with info you requested.

[2017-07-26 20:00] tzumainn commented on #70
@Ladas Judging from the stack trace, I'm not sure this is actually touching the meat of the openstack provider code - could this be an issue with the core refresh code?

[2017-07-27 07:06] Ladas commented on #70
@tjyang just little above in the log, there should be an info about what we are trying to save, that should help to figure out what is wrong

[2017-07-27 07:21] Ladas commented on #70
@tzumainn @tjyang I think the issue might be here https://github.com/Ladas/manageiq-providers-openstack/blob/cf63d41eb0dd5a0d3f94e92325527ad2db02926e/app/models/manageiq/providers/openstack/inventory/parser/cloud_manager.rb#L109

That rails doesn't like if one of the hosts is nil (same as it should receive uniq list). It should be:

[code]

you can try in rails c, that host_aggregate.hosts = [host

[2017-07-27 12:29] #70 closed

[2017-07-27 12:30] tzumainn commented on #70
@Ladas Thanks! Fix merged.@tjyang can you update your master checkout and try again?

[2017-07-27 12:47] tjyang commented on #70
@tzumainn , I will try the one-liner fix.

[2017-07-27 13:32] tjyang commented on #70
@tzumainn
* on my miq02 instance using master branch. I am using following commands to sync with master's frequent changes.

[code]

* From output of "bin/update", it  is pulling down openstack provider source as shown below.

[code]

*  bin/update command seems work the magic to bring down the one-liner fix.  My O.S. Icon is now alive with correct numeric numbers.

![image](https://user-images.gi

[2017-07-27 13:33] tzumainn commented on #70
Great! @Ladas thanks again for the fix!

[2017-07-27 13:35] tjyang commented on #70
Thanks to @tzumainn and @Ladas for the quick responses and fix.

[2017-08-04 17:21] tjyang opened #75 "fine-3 showing gnocchi port(8041) connection refused"
Following message keep logging into miq fine-3's evm.log,since we don't have gnocchi enabled.

[code]

Is there a way in settings.yml file to disable it ?

[2017-08-04 17:34] tzumainn commented on #75
@mansam did you have a PR that prevented these messages from showing up?

[2017-09-18 12:05] miq-bot opened #98 "OpenStack infra node destroy should use SupportFeaturesMixin instead of validate_<feature>"
This issue was raised in this rPR https://github.com/ManageIQ/manageiq/pull/11500

---

*This issue was moved to this repository from https://github.com/ManageIQ/manageiq/issues/12010, originally opened by @rwsu*

[2017-10-02 07:49] miq-bot opened #106 "support for cloud admin in openstack provider"
After #7342, I can now authenticate using a non-default domain, however not all use cases have been covered. Specifically:

1. User is domain admin in default domain -> this works as expected.
2. User is domain admin in non-default domain -> this now works as expected and resources are refreshed from that non-default domain only.
3. User is cloud admin in default or non-default domain and we want

[2017-10-23 15:58] aufi opened #125 "OpenSCAP support for Overcloud Instances"
We want add OpenSCAP scan capability to Overcloud (Cloud provider) instances.

Adding issue to make upstream tracking easier.

[2017-10-27 13:16] aufi opened #133 "Screenshots for new features"
We want put together screenshots of recetly implemented features.

[2017-10-27 14:22] alexander-demichev commented on #133
<img width="1360" alt="screen shot 2017-10-27 at 16 22 12" src="https://user-images.githubusercontent.com/20123872/32108778-07111636-bb33-11e7-99c6-2b1fab280a3a.png">
<img width="1364" alt="screen shot 2017-10-27 at 16 21 27" src="https://user-images.githubusercontent.com/20123872/32108794-0bd1740e-bb33-11e7-926f-a73aad200033.png">

[2017-10-27 16:41] tzumainn commented on #133
Managing Security Groups for an Instance

![screenshot from 2017-10-27 12 39 39](https://user-images.githubusercontent.com/1280178/32115257-18db06f2-bb14-11e7-86e1-47207e334abd.png)
![screenshot from 2017-10-27 12 39 49](https://user-images.githubusercontent.com/1280178/32115258-18f3587e-bb14-11e7-981d-b917629f5178.png)

[2017-10-27 16:42] tzumainn commented on #133
@aufi my openstack install lost cinder somehow - is it possible for someone else to create that screenshot? all you need to do is have a volume, and go to "create a backup" to see the force checkbox.

[2017-10-27 16:46] mansam commented on #133
@tzumainn I'll do it!

[2017-10-27 17:01] mansam commented on #133
![image](https://user-images.githubusercontent.com/628956/32116001-e027e656-bb16-11e7-890d-70f0b2431499.png)

[2017-10-27 20:40] mansam commented on #133
![image](https://user-images.githubusercontent.com/628956/32124394-9610cb7c-bb35-11e7-90e5-cc05df83fb55.png)

[2017-10-28 05:27] rwsu commented on #133
![sync-users](https://user-images.githubusercontent.com/974403/32131548-ea5395a4-bb65-11e7-9404-38ed6c837d34.png)

[2017-10-29 11:41] tjyang opened #134 "OpenStack pike support"
Hi

I am opening up this issue to track [this issue reported in talk forum](http://talk.manageiq.org/t/does-manageiq-support-openstack-pike-version/2832/3).

[fog/opstack issue 315  marked openstack pike is supported in version v.0.1.22](https://github.com/fog/fog-openstack/issues/315)

[2017-10-29 18:10] aufi commented on #134
Hi, the issue should have been resolved in https://github.com/ManageIQ/manageiq-providers-openstack/pull/129 (merged, not released yet).

[2017-10-29 21:44] tjyang commented on #134
@aufi, thanks for the resolution info.

[2017-10-29 21:44] #134 closed

[2017-10-30 11:55] aufi commented on #133
Security groups CRUD got broken by a recent UI change, adding screenshots from the original PR (https://github.com/ManageIQ/manageiq-ui-classic/pull/1011).

![image](https://user-images.githubusercontent.com/555381/32169597-88fb32c2-bd71-11e7-9b71-b55269e90eeb.png)

[2017-11-01 08:14] aufi commented on #52
This should have been fixed and should be part of G release.

[2017-11-01 08:14] #52 closed

[2017-11-01 09:58] dikonoor opened #140 "Create volume does not work from Manage Fine-3"
I am using ManageIQ fine-3 with OpenStack Ocata. I am able to register latter as a Cloud Provider and perform perform operations like deploy , VM lifecycle operations etc. However, when I try to create a new volume , it fails (I tried the same steps using the same OpenStack instance as the provider and volume creation works fine).

Steps Followed:
From the MIQ UI >> storage>>block storage >> manag

[2017-11-02 15:43] mansam commented on #140
I can reproduce this in Fine-3, but it appears to fixed in Fine-4. Could you please confirm whether you still have that problem in Fine-4?

[2017-11-02 17:00] dikonoor commented on #140
@mansam , I am yet to check in Fine-4. Will try and let you know shortly.

[2017-11-02 17:57] dikonoor commented on #140
I tried in Fine-4 and it's fixed.

[2017-11-02 17:57] #140 closed

[2017-11-02 18:07] dikonoor opened #142 "OpenStack Glance v2 Private images not visible at MIQ"
**Environment**
Found in Euwe, Fine-2 , Fine-3 and Fine-4   with OpenStack Ocata
Gaprishdanavalli Beta with OpenStack Pike

Keystone v3

**Steps to Reproduce**
1. Install OpenStack and create a new project/tenant named 'project1' .
2. Create a new user named 'user1' and give 'user1' admin role to 'project1'. (Please note that the same steps were later on repeated with a project named 'admin',where

[2017-11-02 19:18] mansam commented on #75
This should have been resolved by a change to the FogLogger a while back.

[2017-11-06 20:50] Fryguy commented on #125
cc @roliveri

[2017-11-12 23:17] dikonoor opened #151 "Instance Operating System displayed as Unknown for OpenStack Cloud provider"
I added a OpenStack as a cloud provider to MIQ and see the Operating System field against a VM displayed as "Unknown". I am on Fine-4. I see this problem discussed in different MIQ forums but haven't run into a bug that's already reporting this.

Name | test1_new
IP Address | 172.28.0.7
MAC Address | fa:59:fa:a6:47:20
Container | openstack: 1 CPU (1 socket x 1 core), 4096 MB
Platform Tools | N/A
O

[2017-11-13 01:08] dikonoor opened #152 "ManageIQ logs piling up and eating up space"
I am using MIQ Fine-4 and see that even though the log rotation works fine and the log archives are created, they don't get purged automatically after few number of archives are created. I am not sure if MIQ has a setting to manage this. For now, I am having to delete all the log archives under /var/www/miq/vmdb/log manually, which is a pain because I have to periodically check for these and delet

[2017-11-13 08:39] aufi commented on #152
Hi, thanks for message, not sure if it is a bug or it works as expected. Reassigning to main repo since OpenStack provider itself cannot change log rotation.

@miq-bot move_issue manageiq

[2017-11-13 08:46] aufi commented on #151
Hi thanks for submitting the issue. Having few questions for better understanding:
 * what Operating system do you use on the Vm?
 * did SmartState Analysis run succesfully on the Vm?
 * what OpenStack version do you use?

[2017-11-13 09:17] dikonoor commented on #152
@aufi , Sure. Thanks for moving it to the main repo.

[2017-11-13 14:49] #152 closed

[2017-11-14 03:28] dikonoor opened #155 "ManageIQ expects user to have admin role again admin project in an OpenStack cloud provider"
**Environment:**
Tried in the following environments:
Euwe with OpenStack Ocata
Fine-3 / Fine-4 with OpenStack Ocata
Gaprishdanvili with OpenStack Pike

Steps:
1. Create a new user in OpenStack that has admin role against a new project. Let's call the project 'project1' and let's call the user as user 'user1'. So user 'xyz' now has admin role against project 'abc'.
2. Project 'project1' is within

[2017-11-14 05:36] dikonoor commented on #151
@aufi smart State analysis runs successfully on the VM.

[2017-11-14 20:35] mansam commented on #155
I don't believe ManageIQ requires there to be a project named "admin", but I do believe it requires the Openstack user and the project they are a member of to both have the admin role. @aufi can correct me if I am mistaken.

[2017-11-14 23:09] dikonoor commented on #155
@mansam , I had expected the same .I had expected ManageIQ to work fine , without any errors with a user that has admin role against any of the projects (under the domain that was provided as input)..but that doesn't seem to be the case. But there seems to be a bug somewhere that specifically looks for admin project. I guess this might be because Openstack has an admin project created by default a

[2017-11-23 10:49] Ladas opened #164 "Wrong index for lazy find"
@mansam I've noticed these

https://github.com/Ladas/manageiq-providers-openstack/blob/ce4cd9acf7c2c2f236503fa6bb972b8f4aee7d1e/app/models/manageiq/providers/openstack/inventory/parser/network_manager.rb#L32

https://github.com/Ladas/manageiq-providers-openstack/blob/ce4cd9acf7c2c2f236503fa6bb972b8f4aee7d1e/app/models/manageiq/providers/openstack/inventory/parser/network_manager.rb#L130

the orche

[2017-11-27 14:00] mansam commented on #164
Nice catch, thanks Ladas.

[2017-12-06 11:45] dikonoor commented on #142
I checked in the beta release of Gaprishdanvili . Still seeing the problem.

[2017-12-06 13:53] mansam commented on #142
A few questions to assist with troubleshooting:

1). Which version of Keystone are you using to connect to Openstack from ManageIQ?
2). Are you connecting to Openstack with the same credentials you used to create the private image?
3). Does the project itself have the admin role, in addition to the user having the admin role?

[2017-12-06 14:59] dikonoor commented on #142
1) Keystone v3

2) Yes. I created a new project in Openstack. Let's call it 'project1'. I created a new user. Let's call it 'user1'. I gave admin role for user1 against project1. In OpenStack , I created an image with this user1 within project1. Images are anyway project-scoped resources and have a project_id associated with it. I added OpenStack as a cloud provider to ManageIQ (Like I mentioned,

[2017-12-06 17:12] dikonoor commented on #155
@mansam @aufi ,I tried this scenario in and Gaprishdanavalli with OpenStack Pike and this problem continues to exist. It forces a user to have admin role against a project named 'admin' in OpenStack .

Error at OpenStack Pike:

2017-12-06 06:55:45.330 32584 WARNING keystone.auth.core [req-927d7610-7391-48f8-aec3-0936cf07b435 - - - - -] Could not find project: admin.: ProjectNotFound: Could not fin

[2017-12-06 17:23] mansam commented on #142
Sorry for the incoherent question, I misread the documentation I was looking at. When the image is set to private, can you confirm that it is visible when running `glance image-list` with the credentials you use to connect the provider?

[2017-12-06 17:30] dikonoor commented on #142
@mansam yes..the images get listed. glance image-list lists images of visibility public and private (it lists images that belongs to the project that was used for authentication). glance image-show <image-uuid> shows the below.

+----------------------+----------------------------------------------------------------------------------+
| Property             | Value

[2017-12-06 19:21] mansam commented on #155
@dikonoor I have not been able to reproduce this problem so far. With a tenant named 'test_tenant_1" and a user "test_tenant_1_admin" who has the admin role, refresh works fine. One possible difference between our environments is that I still have a tenant named "admin", although the user my provider is configured with has no access to it. In order to help me troubleshoot, could you confirm whethe

[2017-12-07 03:21] dikonoor commented on #155
@mansam ,let me paste below how the role assignment looks like in my setup:

openstack role assignment list --names
+---------+--------------------+---------------------+---------------------+--------+-----------+
| Role    | User               | Group               | Project             | Domain | Inherited |
+---------+--------------------+---------------------+---------------------+--------+---

[2017-12-07 04:23] dikonoor opened #174 "Disclosure of sensitive information after registering openstack cloud provider"
Password used for registering OpenStack Cloud Provider displayed in the evm.log. This is a security exposure and might be present in the older releases of ManageIQ as well and 'might' in all likelihood need a public CVE (common Vulnerability Evaluation) as this would fall under 'Information Exposure'. The evm.log has a read all file permissions, which basically means that any user logged into the

[2017-12-07 05:44] martinpovolny commented on #174
Ping @aufi, @tzumainn

[2017-12-07 06:34] dikonoor commented on #142
I see that from Gaprishdanvili onwards, the cloud provider summary page shows the below error if there's atleast one private image in the openstack project.

Steps:
1. Created project and gave a user admin role.
2. Created 2 images - one public and the other private
3. Discover OpenStack (Pike) as a cloud provider. OpenStack is successfully added
4. Wait for few minutes and click on the cloud prov

[2017-12-07 08:38] aufi commented on #174
Hi, thankf ro reporting. Could you check if you have enabled debug mode?

[2017-12-07 08:41] dikonoor commented on #174
@aufi  I don't see any DEBUG logging in my evm.log and I haven't changed any settings after following instructions to setup ManageIQ from here >> http://manageiq.org/docs/guides/developer_setup.html

Could you let me know how can I check if DEBUG logging is enabled?

[2017-12-07 08:54] aufi commented on #174
Logging level can be configured in right top corner Configuration, then on the bottom of the page section Logging.

[2017-12-07 09:04] dikonoor commented on #174
@aufi Got it..It's set to INFO

[2017-12-07 10:50] aufi commented on #174
@dikonoor OK, thanks. We'll investigate and evaluate the issue accordingly.

[2017-12-07 19:14] Fryguy commented on #174
@aufi @martinpovolny At a minimum we shouldn't even be putting an openstack (fog) object on the queue directly anyway, so maybe the fix is as simple as just removing it from the queue.

[2017-12-08 10:47] aufi commented on #174
Agree on not putting objects to queue. The issue seems to be validate credentials action on Cloud Provider. Uses ```raw_connect``` method on ManagerMixin via MiqQueue. More detailed logs available at http://paste.openstack.org/show/tngptaORzGLBqT8gRsxA/

The method doesn't look to be used on other places, to it should be safe return ```true``` instead of connection object.

Previous changes relate

[2017-12-08 19:25] kseifriedredhat commented on #174
Why is the log file world readable? That in and of itself is typically going to result in a lot of CVE's, if we can tighten the permissions then even if sensitive data is logged it becomes a hardening problem and not a security vulnerability problem. If we can fix the log permissions that will largely deal with this in a quick manner, and prevent issues moving forwards.

[2017-12-09 03:14] dikonoor opened #178 "VM provisioning fails with placement options"
**Environment:**
Gaprishdanvili with OpenStack Pike
This problem is NOT found in Fine

Steps to Reproduce:
1. Select and image and click on Provision virtual machines.
2. In the Provision Instances pages, go to 'Environment' tab.
3. Uncheck 'Choose Automatically Option' under Placement and select a specific project from the 'Cloud Tenant' dropdown. We can notice that the 'Security Groups' dropdown

[2017-12-09 11:37] dikonoor opened #179 "MIQ doesn't have provision to attach network to a VM post provisioning"
**Environment**
Euwe, Fine with OpenStack Ocata

Steps:
1. Install OpenStack.
2. Create a new user named 'user1' and give 'user1' admin role to 'project1'. 'project1' is created under the default domain. There are no other projects in this domain.
3. Discover OpenStack as a Cloud Provider from ManageIQ.
4. Go to Cloud summary page, select image and click on provision VM.

There are two problems:
1

[2017-12-09 11:38] dikonoor commented on #179
I am not sure if there are other ways to do this from MIQ other than from the UI. If so, please let me know.

[2017-12-11 09:40] aufi commented on #174
The log files have same permissions as other product-related files on the appliance. @Fryguy can we get someone from appliance team to take a look on users priviledges and file permissions? Thanks.

[2017-12-11 13:23] chargio commented on #174
Should a CVE be opened for this?

[2017-12-11 15:14] Fryguy commented on #174
I don't think we need a CVE because this not present in a released version of ManageIQ (expect the Beta, but I don't believe we need CVEs for Betas)... @kseifriedredhat ?

[2017-12-11 15:16] Fryguy commented on #174
@aufi I don't think this is an Openstack specific issue and might need a higher level fix as part of the work done to do credential validation via the queue. cc @jntullo

[2017-12-11 16:56] kseifriedredhat commented on #174
If this is in the Beta only and fixed prior to GA then yes, no CVE is needed. The general rule is CVE's are for released software, not alphas/betas, with some exceptions (like when Google Chrome was still in "beta" but had over 10 million users...).

[2017-12-13 14:03] dikonoor commented on #142
The steps above were repeated with a project named 'admin' and a user named 'admin that was given admin role against 'admin' project (admin(user)<->admin(project)<->admin(role)). The results were the same.

[2017-12-16 16:53] dikonoor commented on #174
Are we sure that this problem is not present in the previous releases? @aufi @kseifriedredhat

[2017-12-18 17:09] Fryguy commented on #174
Fixed via https://github.com/ManageIQ/manageiq/pull/16636

@jntullo @aufi Can you just double check that this is not present on older versions?  I'm pretty sure it's not as the verification-over-the-queue code was added for gaprindashvili, but it might be possible there were other providers going over the queue.  Let's just double-check to be sure.

[2017-12-18 17:09] #174 closed

[2018-01-08 13:05] miq-bot opened #189 "ManageIQ does not list public flavors during VM provisioning"
**Environment Details:**
fine-4 with OpenStack Ocata
Gaprishdanvili with OpenStack Pike

**Steps:**

0. Install OpenStack and create a new user named 'user1' and a new project named 'project1'. Assign admin role to user1 against project1.
1. Create some public and private flavors at OpenStack.
2. Login to ManageIQ and add this OpenStack instance as a cloud provider.
3. Validate that compute >> fla

[2018-01-09 19:36] mansam opened #191 "Abstract ::Settings.ems_refresh.openstack into options method"

[2018-01-18 03:46] dikonoor opened #199 "ManageIQ does not have support for secure communication with OpenStack message queue"
Environment:
ManageIQ Gaprishdanvili with OpenStack Pike
ManageIq Fine with OpenStack Ocata

While registering a new OpenStack based cloud provider, MIQ provides options to connect using ceilometer or AMQP. In the AMQP, the security protocol drop down lists only non-SSL option. Connection from MIQ to a OpenStack message queue (rabbitmq) connects fine over amqp. However, enterprise customers will a

[2018-02-01 15:19] #164 closed

[2018-02-09 14:33] tjyang opened #226 "Last Refresh: CloudTenant(#186999960) expected, got NilClass(#7585800)"
#  Tested on different versions of MIQs.
* add same openstack farm into gapri-1 or older version doesn't have this issue.
* Add same openstack farm to recent(1 month ago)  master branch was ok but not the latest from master branch.

# Screenshot info.
*  login to openstack is ok but not [Last Refresh](https://user-images.githubusercontent.com/378638/36032154-b68ace72-0d72-11e8-9881-7e891b9e7d79.pn

[2018-02-09 17:28] tjyang commented on #226
# Also another finding in a region setting with two workers.
* wk01 running on master branch.
* wk02 running gapri-1
* if we turn on "provider inventory" role on wk01 only, the last refresh won't work.
* But if we only enable "provider inventory" role on wk02(gapri-1), last refresh works for the openstack provider.

[2018-02-12 22:52] tjyang commented on #226
Hi, @mansam , I updated info you needed under logs section above.  gapri-1 instance has no such issue.

[2018-02-13 17:09] mansam commented on #226
Hi @tjyang, thanks for the additional information. The master branch is the development branch and there may be transient bugs there. If gaprindashvili-1 (an actual release) is working correctly then it seems like there is not an issue to fix.

[2018-02-13 21:48] tjyang commented on #226
@mansam, I hope this bug is only transient and will not carry over into H release.

[2018-02-14 10:23] dikonoor commented on #142
I am unable to reproduce this problem in the latest gaprishdanvili development build. I will wait for the official release to be out and validate against it before closing this.

[2018-02-14 10:25] dikonoor commented on #155
@mansam I am unable to reproduce this problem in the latest gaprishdanvili development build. I will wait for the official release to be out and validate against it before closing this.

[2018-02-14 12:15] aufi commented on #178
The _security group_ field is not required to provision a Vm, so it should be possible submit the provisioning form without the security group filled.

[2018-02-15 06:46] gildub opened #230 "Cloud Networks need to be able to update vlan_transparent flag"
Network refresh parser can read the field but it can't be updated because not available yet in fog-openstack request `create_network` in https://github.com/fog/fog-openstack/blob/master/lib/fog/network/openstack/requests/create_network.rb#L5-L26

To be able to update the option the following
- [ ] Patch fog-openstack accordingly
- [ ] Add the corresponding field to the UI form Cloud Networks in ma

[2018-02-15 06:50] gildub commented on #230
@miq-bot assign gildub

[2018-02-26 18:20] miq-bot opened #237 "RabbitMQ durable queues lead to fail of event handler for OpenStack AMQP"
Hi Guys.

OpenStack HA guide have recommendation to set durable queues/exchanges for rabbitmq:

https://docs.openstack.org/ha-guide/shared-messaging.html

But currently MIQ cannot use these queues/exchanges because there is no options to configure such connection:

[code]

From the source code I have found that queues initialization does not use any settings for durable exchange initialization:

h

[2018-03-05 16:52] himdel opened #246 "The Instance cannot be resized, current state has to be active or shutoff."
When trying to resize an openstack instance, all I ever get is "The Instance cannot be resized, current state has to be active or shutoff.".

Even when the instance is indeed shut off (`raw_power_state === "off"`).

That's because we're comparing the `raw_power_state` value to *strings* `ACTIVE` and `SHUTOFF`, not the constants of the same name.

More: https://github.com/ManageIQ/manageiq/pull/968

[2018-03-05 22:31] mansam commented on #246
I'm a little confused. The raw power states from Nova are "ACTIVE" and "SHUTOFF", so string comparison on the field `raw_power_state` should work, because that's what `raw_power_state` contains. The `power_state` column contains "on/"off", but that doesn't seem to be the field being compared here.

[2018-03-08 13:50] himdel commented on #246
@mansam sorry, you're right, looks like I was confused. I must have looked at a Vm other than Openstack.

Confirmed you're right:

[code]

[2018-03-08 13:50] #246 closed

[2018-03-11 00:24] tjyang commented on #226
@mansam

Just and update of this issue.

This bug was verified on gapri one  and above, my colleague came up with a fix for gapri-1 we are using.

But now gapri-2 and master code changed a lot, our fix doesn't work anymore.

Let me know if you want me to show our patches  on gapri-1 branch.

[2018-03-12 13:09] mansam commented on #226
@tjyang I'm sorry to hear you're continuing to have this issue. Please do share your patches, I believe they will help me sort out the problem.

[2018-03-12 13:29] tjyang commented on #226
@mansam , Hope you can understand the patches( I don't) and carry over the logics to Gapri-2+ .

#  Info about the miq infra.
* miqr2wk01 is on Gapri-1 version
* Openstack is Ubuntu instance running Pike version.

# ** Undefined method 'tenants'**
* Patches for **target_collection.rb** and **get_project.rb** two files in Gapri-1 branch were able to resolve our issue.

*  fix  [Gapri-1 Jan 29/2018

[2018-03-12 13:38] mansam commented on #226
@tjyang Thank you for sharing. A fix that appears to be equivalent [was merged to master](https://github.com/ManageIQ/manageiq-providers-openstack/commit/ad512db9fd6951d506512529066836cc8d56f858) 24 days ago. Could you confirm whether you still see this issue occurring on the latest master?

[2018-03-12 14:20] tjyang commented on #226
@mansam

* I updated my test miq with  master branch using following commands to bring it to latest.

[code]

* This test instance (miq01t) is connecting to same openstack farm like our Gapri-1(miqr2wk01).

[code]
* And here is the same error message for refreshing

[code]
* I can send in more message in evm.log.

[2018-03-12 14:53] mansam commented on #226
Thanks for the update. Is there a complete backtrace included in the evm.log? That INFO message only has a small snippet of the error.

[2018-03-12 15:13] tjyang commented on #226
* Here is more logs around  "updated_on: "2018-03-12 14:06:19"" timestamp.

[code]

[2018-03-12 15:33] tjyang commented on #226
Looping in  @easyljy who came up with patch code for Gapri-1.

[2018-03-12 17:35] easyljy commented on #226
@mansam I think you want below logs

[code]

[2018-03-19 13:06] tjyang commented on #226
@mansam ,

From master branch miq, I was able to duplicate this issue when connecting to a fresh install of RDO O.S. queen version,  all-in-one test VMWare VM.

Can you come up with a fix for gapri-2+ version ?
I can provide the ssh access to above test environment if you like to .

[2018-03-27 17:18] mansam commented on #226
@tjyang This issue is still being investigated.

[2018-03-27 23:44] tjyang commented on #226
@mansam Thanks for the update.
Is it still too early to classify this issue as an bug ?

[2018-05-11 18:44] christomas1 commented on #155
Hello @dikonoor, can you confirm if you reproduced the problem with the latest version (gaprishdanvili)?

[2018-05-15 23:31] gianpietro1 opened #291 "Compatibility with Fine, Mitaka and admin project."
Hi,

I was wondering if this is the gem used by Fine-4 version too? or is it another project?

Thing is, I'm facing an issue when trying to add a Mitaka-based OpenStack environment as Cloud Provider, where Fine-4-based ManageIQ fails to do so.
What we can see in the network flows, is:
1) ManageIQ tries to authenticate with 'admin' project before authenticating with domain scope.
2) Mitaka-based Op

[2018-05-23 02:13] okamototk opened #294 "Support Integrate account domain and project domain separately"
Currently, ManageIQ use account of integration domain and project domain are same. If we use LDAP for OpenStack, we need integration account in LDAP. But some of company prohibit such a acoount in company. Using personal account has risk to expose her/his private information to CloudForms administrators.

Again, problem is openstack provider use same domain for authentication and project.

https:/

[2018-05-23 02:18] okamototk opened #295 "Support AMQP cluster for events endpoints"
When use AMQP for event integration, we can specify just one host.
Basically, AMQP  is clustered for high availability.  So multiple AMQP host shoud be specified at provider configuration.

[2018-05-24 14:26] aufi commented on #294
Hi, thanks for submitting this issue. Could you elaborate on use-case for this feature? Using LDAP with Keystone backend is quite common, but I haven't heard about this case with different domains.

Since we are upstream, is it possible to test, that such change really fixes your problem (and there is not e.g. Keystone token creation problem)?

[2018-05-24 14:34] aufi commented on #295
Hi, thanks for your message. We do recommend using Ceilometer/Panko for Events, which should fit to HA OpenStack deployments.

Adding multiple AMQP hosts should be possible, but I'm not sure about its development priority. If you're interested in this feature I'd encourage you try work on it, https://github.com/ManageIQ/guides/blob/master/developer_setup.md

[2018-05-24 22:57] okamototk commented on #294
Thank you for attention about the issue.

I want to use admin account in openstack default domain for provider because it's difficult to create admin account on customer/company LDAP.  Of course private LDAP and small company doesn't have problem.
Imagine if you install ManageIQ for huge company and organization. These company has a lot of security and information management policy.  It is quite d

[2018-05-24 23:35] okamototk commented on #295
Thinks,

We don't use Ceilometer and don't want to install Ceilometer for ManageIQ purpose only.
Currently we have just PoC and this priority is not so high.
But this feature is one of the important point to judge we use ManageIQ or not for production.

If we prefer other ManageIQ features perfectly, I'll look to fix problem.
However currently, I hope ManageIQ guy will implement this feature.

[2018-06-02 12:21] okamototk opened #298 "User tenant is invisible"
I use ldap authentication and OpenStack domain.
Then, user tenant is invisible.  In additional to, admin tenants are exposed to all users.
I found cause is following current_user_id always return admin id.

https://github.com/ManageIQ/manageiq-providers-openstack/blob/master/lib/manageiq/providers/openstack/legacy/openstack_handle/identity_delegate.rb#L28

      projects.all(:domain_id => @os_hand

[2018-06-25 22:24] sleenavteca opened #308 "provisioning from Glance template creates RAW volume"
Hello, I am seeing a behavior where the cinder.volume.flows.manager.create_volume is creating as RAW when I go to provision an instance from an image.  When I provision from Horizon, I see cinder.volume.flows.manager.create_volume creates it as an Image.  What I'm seeing is:

ManageIQ:
`INFO cinder.volume.flows.manager.create_volume [req-caa7c2e9-40e8-4baa-ab40-d2b5afecddce f34779dfdc8e1f965866987

[2018-06-26 17:53] sleenavteca commented on #308
To expound on this, it doesn't look like ManageIQ is calling the glance API at all, and is instead trying to create a new raw volume instead of downloading the image and converting it.  Has anybody else seen this behavior?  Is Glance supported with gaprindashvili-3?

[2018-07-10 14:13] izapolsk opened #315 "no mapping attribute between cloud and infra provider in api"
when I add cloud OSP provider via ui, there is field with mapping to infra OSP provider.
I didn't manage to figure out how to fill in that field via rest.
As far as I see that attribute is missing in provider specific attributes  -
https://github.com/ManageIQ/manageiq-providers-openstack/blob/17b926bf44d0f0d960b79d571a8435bd0aa4da82/app/models/manageiq/providers/openstack/cloud_manager.rb#L132

[2018-07-11 07:00] aufi commented on #315
Hi, thanks for reporting. I'm not aware of most of REST API features, so it is possible that this part is missing.
There could be two causes - either try to use Providers object in API, but I don't know how API wants model Cloud/Infra managers within the Provider.
Or the option for Infra provider could be to added to the API.

[2018-07-19 10:28] tjyang opened #320 "Unknown OpenStack instances displayed as either "Unknown" or "unknown""
*  Gapri-4 in a local region.
*  I remember  that issue was due to typo in provider or [manageiq source tree](https://github.com/ManageIQ/manageiq/search?p=2&q=Unknown&unscoped_q=Unknown).
   * I fixed it by making unknown to Unknown before. Need to locate the src again.
* Screenshot
![image](https://user-images.githubusercontent.com/378638/42937252-177e7d72-8b14-11e8-95f7-5a3fd53c3a66.png)

[2018-07-20 07:43] Ladas commented on #320
@aufi ^

[2018-07-24 15:11] aufi commented on #315
@evgeny-chufarov Put there steps how to assign Infra provider with existing API calls, thanks!

[2018-07-24 15:14] evgeny-chufarov commented on #315
Ok

вт, 24 июл. 2018 г., 17:11 Marek Aufart <notifications@github.com>:

[2018-07-26 11:22] evgeny-chufarov commented on #315
Hi!
1. First of all you need to know the "provider_id" of your Infra OSP provider you want to map to. After making an Infra provider by POST request you will get a response where you can find its "provider_id".
`curl --user admin:smartvm -i -X POST -H "Accept: application/json" -d '{"type"      :
 ManageIQ::Providers::Openstack::InfraManager", "name"      : "Infra_1","hostname"  : "XXX",
"port" :

[2018-07-30 07:58] izapolsk commented on #315
@evgeny-chufarov , many thanks !

@dkholodo , please add respective mapping to provider.create_rest(), since you're the most interested in this fix.

[2018-07-31 04:58] dikonoor commented on #189
It is found that the reason the flavors at my OpenStack instance do not show up on ManageIQ is because ManageIQ displays only the flavors that have non-zero disk value. In general Openstack flavor's disk means root disk which is the size of volume created while deploying image backed by a file or ISO or snapshots. However, this approach does not work in cases where the images (used to provision a

[2018-08-02 10:52] dkholodo commented on #315
Hi,
I've added some code here [https://github.com/ManageIQ/integration_tests/blob/master/cfme/common/provider.py#L265](url)

`if self.type_name in ('openstack_infra', 'openstack'):
            import ipdb; ipdb.set_trace()
            if getattr(self, 'api_version', None):
                version = 'v3' if 'v3' in self.api_version else 'v2'
                provider_attributes['api_version'] = vers

[2018-08-02 11:13] dkholodo commented on #315
Hi,
I've added some code here [https://github.com/ManageIQ/integration_tests/blob/master/cfme/common/provider.py#L265](url)

[code]
________

ipdb> infra_providers_ids
[u'1000000000089', u'1000000000090']

ipdb> provider_attributes
{'provider_id': u'1000000000089', 'name': 'oc_ci', 'ipaddress': 'XXX', 'hostname': 'XXX', 'uid_ems': 'default', 'type': 'ManageIQ::Providers::Openstack::CloudManager',

[2018-08-02 11:15] dkholodo commented on #315
Hi,
I've added some code here https://github.com/ManageIQ/integration_tests/blob/master/cfme/common/provider.py#L265

                if version == 'v3' and getattr(self, 'keystone_v3_domain_id', None):
                    provider_attributes['uid_ems'] = self.keystone_v3_domain_id
            if getattr(self, 'infra_provider', None):
                infra_providers_ids = self.get_all_provider_ids

[2018-08-28 11:30] adamgoossens opened #340 "Repeated queries to Heat for stacks in the same tenant during NetworkManager refresh"
Hi everyone,

Making an issue to track the PR I've opened here:

https://github.com/ManageIQ/manageiq-providers-openstack/pull/339

**What I see:**
In short: in environments where there are no orchestration stacks we always receive an empty list of stacks back from the provider. Because we always go back to the provider to refresh if the associated attribute is an empty list, this means we can que

[2018-09-27 08:10] kiwik opened #364 "Provider refreshing issue with OpenStack Rocky release"
I have OpenStack Rocky release that's deployed by devstack, and use latest manageiq to add OpenStack provider. Last Refresh of provider status show the following issue:
[code]
This is my OpenStack catalog
[code]

[2018-09-28 17:34] mansam commented on #364
When you say 'latest manageiq', can you clarify which release specifically, or are you working from the master branch? And do you have the provider configured in ManageIQ to use Keystone V3?

[2018-09-28 17:39] mansam commented on #364
Also, do you have any context from your fog.log or evm.log surrounding the error in your original comment? It's not obvious from that 302 response where the issue might be occuring.

[2018-10-23 07:41] kiwik commented on #364
I use ManageIQ docker image `latest` to add OpenStack provider (Rocky release), but I can not reproduce this issue in my env. A new issue I faced is I can not add OpenStack, that endpoint like `http://10.3.150.30/identity`, keystone service do not serve on port 5000 and 35357, but use uwsgi URL path redirect from `/identity` to keystone instance, I think ManageIQ do not support this format endpoin

[2018-10-23 07:41] #364 closed

[2018-11-07 00:43] gildub commented on #340
Thanks @adamgoossens for this slick approach.

[2019-01-09 14:52] alexander-demichev commented on #295
https://github.com/ManageIQ/manageiq-providers-openstack/pull/394

This PR adds this feature on backend side

[2019-01-09 14:52] alexander-demichev commented on #295
@aufi Can we close this issue?

[2019-01-30 15:14] JPrause commented on #320
@tjyang is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:14] JPrause commented on #308
@sleenavteca is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:14] JPrause commented on #298
@okamototk is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:16] tjyang commented on #320
@JPrause , This issue is be classify as bug and with assignee. Please follow up with assignee.

[2019-01-30 15:53] JPrause commented on #295
Removing the stale label as this is still active.
@miq-bot remove_label stale

[2019-01-30 15:54] JPrause commented on #294
@okamototk is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:55] JPrause commented on #291
@gianpietro1 is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:55] JPrause commented on #237
@ITD27M01 is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:56] JPrause commented on #230
@gildub is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:57] JPrause commented on #226
@tjyang is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:57] JPrause commented on #199
@dikonoor is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:58] JPrause commented on #191
@mansam is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:58] JPrause commented on #189
@dikonoor is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:58] JPrause commented on #179
@dikonoor is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:59] JPrause commented on #178
@dikonoor is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 15:59] JPrause commented on #155
@dikonoor is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:00] JPrause commented on #151
@dikonoor is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:00] JPrause commented on #142
@dikonoor is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:01] JPrause commented on #125
@aufi is this still a valid issue? If yes, please remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:02] JPrause commented on #106
@furlongm  is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:02] JPrause commented on #98
@rwsu is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:02] JPrause commented on #75
@tjyang is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:02] JPrause commented on #66
@Ladas is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:03] JPrause commented on #51
@aufi is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:03] JPrause commented on #36
@gildub is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close.
If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:03] JPrause commented on #21
@tzumainn is this still a valid issue? If yes, let me know and I'll remove the stale label. If not can you close. If there's no update by next week, I'll be closing this issue.

[2019-01-30 16:05] JPrause commented on #320
Thanks @tjyang for the update. I'll remove the stale label.
@miq-bot remove_label stale
@evgeny-chufarov do you have an update on this issue?

[2019-01-30 16:32] rwsu commented on #98
@JPrause it is still valid.

[2019-01-30 16:47] JPrause commented on #98
Thanks @rwsu I'll remove the stale label.
@miq-bot remove_label stale

[2019-01-30 18:38] #75 closed

[2019-01-30 18:40] #226 closed

[2019-01-30 19:59] gildub commented on #230
The VLAN transparent flag can only be setup during creation of the network. Once created it cannot be updated.

[2019-01-30 19:59] #230 closed

[2019-01-30 20:02] gildub commented on #36
@JPrause, I suppose it is, not sure who's going to have time to address them though.

[2019-01-30 20:17] JPrause commented on #36
Thanks @gildub
I'll remove the stale flag for now.
@miq-bot remove_label stale

[2019-01-31 16:16] easyljy opened #438 "MIQ failed to refresh ems after provisioning a vm"
MIQ version: Hammer-1
OpenStack version: Queens

When provisioning an OpenStack instance, it was created successfully in OpenStack, but ems refresh failed as below errors.

[code]

[2019-01-31 16:30] evgeny-chufarov commented on #320
@JPrause
Unfortunately, I couldn't reproduce this bug in time when I tried to solve it.
I will try to do it again and solve this issue.
I will let you know, if I haven't any solutions.

[2019-01-31 19:50] easyljy commented on #438
Did some troubleshooting and found this issue is related to our own openstack environment.
One project has been deleted and some VMs associated are still in shutdown state. That caused some records have null cloud_tenant_id in table vms.
Deleting stale VMs in OpenStack fixed the issue.

[2019-01-31 19:50] #438 closed

[2019-01-31 20:54] mansam commented on #438
Thanks for the update, @easyljy

[2019-02-01 10:03] evgeny-chufarov commented on #320
@tjyang Could you tell me please, if this "unknown", that you have found and corrected once, was this blue one on the screenshot of PR?

[2019-02-06 20:46] JPrause commented on #21
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:46] #21 closed

[2019-02-06 20:48] JPrause commented on #66
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:48] #66 closed

[2019-02-06 20:48] JPrause commented on #106
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:49] #106 closed

[2019-02-06 20:50] JPrause commented on #142
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:50] JPrause commented on #151
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:51] JPrause commented on #155
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:51] JPrause commented on #178
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:51] #178 closed

[2019-02-06 20:51] #155 closed

[2019-02-06 20:51] #151 closed

[2019-02-06 20:51] #142 closed

[2019-02-06 20:52] JPrause commented on #179
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:53] #179 closed

[2019-02-06 20:53] JPrause commented on #189
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:53] JPrause commented on #191
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:54] #191 closed

[2019-02-06 20:54] #189 closed

[2019-02-06 20:54] JPrause commented on #199
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:55] #199 closed

[2019-02-06 20:55] JPrause commented on #237
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:55] JPrause commented on #291
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:56] JPrause commented on #294
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:56] #294 closed

[2019-02-06 20:56] #291 closed

[2019-02-06 20:56] #237 closed

[2019-02-06 20:56] JPrause commented on #298
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:56] JPrause commented on #308
Closing issue. If you feel the issue needs to remain open, please either reopen or let me know and it will be reopened.
@miq-bot close_issue

[2019-02-06 20:57] #308 closed

[2019-02-06 20:57] #298 closed

[2019-03-19 17:18] mansam commented on #340
I believe this was resolved by https://github.com/ManageIQ/manageiq-providers-openstack/pull/339

[2019-03-19 17:18] #340 closed

[2019-03-22 05:44] sinu opened #451 "openstack loadbalancer"
can we create open stack loadbalancers from manage iq?

[2019-03-25 09:41] aufi commented on #451
Hi, Load Balancers are displayed in UI, but its creation is not currently supported in ManageIQ.

[2019-03-25 09:45] aufi commented on #295
This feature was completed. Add provider form now includes two AMQP fallback hostname fields. See https://github.com/ManageIQ/manageiq-ui-classic/pull/5270 for details.

[2019-03-25 09:45] #295 closed

[2019-03-26 16:36] djberg96 opened #455 "Malformed error message on validation failure"
When validation failed for an openstack provider, I got a rather gnarly error message:

![image](https://user-images.githubusercontent.com/78529/55015608-89c33700-4fc3-11e9-850e-3223273282a2.png)

Originally posted at https://github.com/ManageIQ/manageiq-ui-classic/issues/5320

I think specifically it's when you try to enable SSL but the server doesn't support, though I've not tried all the combin

[2019-03-26 16:47] agrare commented on #455
@djberg96 can you find a backtrace from the logs?

[2019-03-26 17:43] mansam commented on #455
That looks like a 404 page from the web server due to trying to hit the SSL endpoint that doesn't exist. You could get a message like that from putting in any number of hosts with listening services that aren't Openstack services. I'll look into cleaning up how we deal with HTTP errors that we don't expect.

[2019-03-29 03:42] djberg96 commented on #455
Fixed via https://github.com/ManageIQ/manageiq-providers-openstack/pull/456. Thanks @mansam!

[2019-03-29 03:42] #455 closed

[2019-04-25 08:48] huangtianhua opened #464 "Errors happened when execute 'bundle exec rake db:setup'"
An error happened when execute 'bundle exec rake db:setup': ActiveRecord::StatementInvalid: PG::UndefinedTable: ERROR:  relation "metric_rollups_base_id_seq" does not exist, more details see below log:

2019-04-24 22:58:52.709924 | ubuntu-xenial | + bundle exec rake db:setup
2019-04-24 22:59:04.907476 | ubuntu-xenial | Database 'vmdb_test' already exists
2019-04-24 22:59:09.140427 | ubuntu-xenial

[2019-04-25 08:48] h00130372 commented on #464
Can any one help me to fix this problem? Thank you very much!

[2019-04-25 11:20] agrare commented on #464
@h00130372 try `bin/rake evm:db:reset db:seed`

[2019-04-26 01:37] h00130372 commented on #464
@agrare Thank you very much! I am not familiar with manageiq, I will try it later, and sorry can I ask the difference of these two cmds? I executed 'bundle exec rake db:setup' last month, and it works, if there is something changed? so I have to change to use 'bin/rake evm:db:reset db:seed'?

[2019-06-17 08:52] Yikun opened #478 "Failed to execute "bundle exec rake vcr:rerecord""
The script to run looks like:
[code]

The complete running script in [1]
[1] https://github.com/liu-sheng/openlab-zuul-jobs/blob/master/playbooks/manageiq-providers-openstack-test-devstack/run.yaml#L91-L109

But when the `bundle exec rake vcr:rerecord` is excuted, we got the below error

[code]

The completed log can be found in [2]
[2] http://80.158.17.129/logs/3/3/d648c4346575274497091916445f230

[2019-06-17 18:45] agrare commented on #478
@Yikun if you reset the db you also have to reset the test db, `bin/setup` and `bin/update` do this for you but anything you do `rake evm:db:reset db:seed` you also have to do `rake test:vmdb:setup`

[2019-08-03 18:47] miq-bot opened #492 "[RFE] Allow setting the CA certificate for OpenStack provider"
When configuring an OpenStack provider with SSL security protocol, the user cannot provide the CA certificate chain that validates the endpoint. The only way today is to configure the CA certificate chain system wide on all CloudForms appliances that interact with the provider. This can be quite painful and is not user-friendly.

The oVirt/RHV provider provides this capability and it would be grea

[2019-08-03 18:57] miq-bot opened #493 "Openstack LBAAS"
can we create open stack loadbalancers from manage iq?

---

*This issue was moved to this repository from https://github.com/ManageIQ/manageiq/issues/18581, originally opened by @sinu*

[2019-08-03 18:58] miq-bot opened #494 "load balancers are not listing"
I have integrated with openstack but i am unable to add or retrieve loadblancers from ui, any idea?

---

*This issue was moved to this repository from https://github.com/ManageIQ/manageiq/issues/18575, originally opened by @sinu*

[2019-08-03 19:01] miq-bot opened #495 "Cloud Provider OpenStack: Creating Instance with Tag X does not tag associated resources"
This may be a personal preference, so please let me know if this has been discussed and a conscious decision was made to have it work this way, but when creating an instance in OpenStack with tag X, there are no associated tags applied to the various resources attached to that instance, primarily the volume and port. As an external example, on VMware's vCenter when permissions are very finely defi

[2019-08-03 19:01] miq-bot opened #496 "Cloud OpenStack Provider Question: Add Image Function?"
Question: should the "add image" function be working for an OpenStack provider? Neither as an admin nor a user with "add image" permissions am I able to access any functionality to add an image. I do see the permission exists in roles (miq_product_features.yml):

      - :name: Add Image
        :description: Add Image
        :feature_type: control
        :identifier: image_create

---

*This is

[2019-08-03 19:02] miq-bot opened #497 "Cloud Provider OpenStack: Instance snapshots"
Instance snapshots are available to be created via Horizon, but not via ManageIQ. Once the instance image is created in Horizon, ManageIQ sees the image and gives the user the option to create a new instance from it. However, the initial instance snapshot creation request does not exist in ManageIQ, if we could work on getting that added.

---

*This issue was moved to this repository from https:/

[2019-08-03 23:43] miq-bot opened #498 "Cloud Provider OpenStack: Update term "Tenant" to "Project""
The official OpenStack project has moved on from using the term "Tenant" and instead uses the term "Project". [https://docs.openstack.org/keystone/stein/admin/cli-manage-projects-users-and-roles.html]

---

*This issue was moved to this repository from https://github.com/ManageIQ/manageiq/issues/18996, originally opened by @lodgenbd*

[2019-08-03 23:44] miq-bot opened #499 "Cloud Provider Openstack: Unable to Create Snapshot on "in-use" Volume"
This request completes via Horizon, but in ManageIQ it fails with the error message: "Unable to create snapshot for Cloud Volume "xyz_volume": Invalid volume: Volume xyz_volume status must be available, but current status is: in-use."

---

*This issue was moved to this repository from https://github.com/ManageIQ/manageiq/issues/18995, originally opened by @lodgenbd*

[2019-08-06 13:18] mansam commented on #497
Instance snapshots can be created from the Instance details screen by clicking the "Snapshots" item and then clicking the "Create a new snapshot" button.

![instance_snapshot_arrow](https://user-images.githubusercontent.com/628956/62543028-0516de00-b82b-11e9-90e0-0e2af4c76ce4.png)
![instance_snapshot_create_arrow](https://user-images.githubusercontent.com/628956/62543038-0942fb80-b82b-11e9-9ee5-59

[2019-08-06 13:28] mansam commented on #499
The error message you are seeing is a message from Cinder. You don't see that message in Horizon because it automatically applies the `force` flag if the volume is in use, which is not a safe operation.

[2019-08-06 15:53] lodgenbd commented on #497
Thank you for pointing me to that... I was expecting if the functionality was available I'd see it in the configuration menu for the instance, but thanks again for pointing it out. I did just attempt a run and got an error saying "Failed to create snapshot of *snipped*: undefined method `name' for nil:NilClass"

Would you happen to know where that is being called? I looked in snapshot.rb, operatio

[2019-08-13 11:51] andyvesel opened #501 "Show status of tenant mapping enabled or disabled on provider's show page"
I think it could be useful to make tenant mapping status visible on cloud provider's page. For now, user can see this status only on provider's edit page.

[2019-08-13 20:20] Fryguy commented on #498
More comments are in the original issue

[2019-08-13 22:54] lodgenbd commented on #499
Gotcha, thanks for the reply. My question, then, is whether the implementation of features such as snapshotting are expected to emulate the same functionality as the original provider intended (in this case, openstack) or would ManageIQ intend to make their own decisions on what types of flags like that should be acceptable? I'm purely asking so I can set my own expectations, as my expectations cu

[2019-08-13 22:58] lodgenbd commented on #498
The way ManageIQ works as a normalizer across different systems, we generally have to pick one name. There may be specific parts we can change however, such as with "Tenant mapping". I'll move this over to the openstack repo for discussion, but I'm not sure there's much we can do.

@miq-bot move-issue manageiq-providers-openstack

Thanks, Fryguy. I definitely understand your statement and I want t

[2019-08-14 16:17] mansam commented on #497
That's likely happening [here](https://github.com/ManageIQ/manageiq-providers-openstack/blob/master/app/models/manageiq/providers/openstack/cloud_manager.rb#L290) which suggests that the instance in question does not have a Cloud Tenant associated with it for some reason. This could be due to an environment misconfiguration, a refresh error, or a number of different things.

[2019-08-14 16:22] mansam commented on #499
We aim to support the functionality of Openstack but we don't set out to emulate the idiosyncrasies of the Horizon dashboard. Having a checkbox to set the force flag here would be ideal since that's available in the the CLI and API, but we wouldn't want to default to unsafe behavior the user doesn't know about because Horizon does it.

[2019-08-14 16:26] mansam commented on #494
The Openstack provider does not presently collect Load Balancer inventory.

[2019-08-14 16:27] mansam commented on #493
The ManageIQ Openstack provider does not presently support creation or inventory collection of Load Balancers.

[2019-08-20 16:02] lodgenbd commented on #499
I'm with ya there. I do see that the force checkbox is available on the backup functionality. It, too, gives a failure message if the volume is "in-use" and you don't check the box, but succeeds if you do check force. Maybe we can mirror that code for snapshots.

[2019-09-30 16:28] #451 closed

[2019-09-30 16:28] #493 closed

[2019-09-30 16:30] #464 closed

[2019-10-04 14:47] lodgenbd commented on #497
Sorry for the late reply and I'm sure there's a better place to discuss this, but if this is the name it's getting NIL on does this reference the EMS name or the cloud tenant name?

"snapshot = compute_service.create_image(vm.ems_ref, options[:name]"

In my test VM, it has a cloud provider, a cloud tenant, a name, etc. but I still get the same error.

[2019-11-15 07:23] dikonoor commented on #199
@JPrause Sorry for the much delayed response on this. I couldn't get to trying it with the latest release before this. I have a CF 5.0 beta which I am using with OpenStack Stein (couple of weeks back Train was release and OpenStack master is going through Ussuri). My OpenStack instance as in the previous case uses RabbitMQ running in secure mode at port 5671. CF provides option only for non-SSL co

[2019-11-15 07:27] dikonoor commented on #199
@JPrause , I am unable to reopen this issue. Please reopen.

[2019-11-15 07:42] dikonoor commented on #199
Also, ceilometer is no longer a supported or valid service. So there is no way CF will be able to connect to recent deployments of OpenStack and they will completely rely on RabbitMQ and this is thus a blocker.

[2019-12-12 19:25] kylejohnson opened #545 "'deactivated' images listed in UI"
Using the openstack image with `ManageIQ Version:        ivanchuk-1`.
Openstack images marked `deactivated` are shown in the UI alongside images marked `active`.  The `Deprecated` column in the UI does not appear to be mapped to the `Status` column, either.
This makes it very difficult to select an `active` image in the UI, as there is no way of telling the `Status` of any given image.
[code]
![Sc

[2020-01-30 18:42] mfeifer commented on #320
@aufi can you take a look at this?

[2020-01-30 18:52] mfeifer commented on #315
@aufi is there an update on this?

[2020-01-30 19:05] mfeifer commented on #51
Please open more specific issues as needed.

[2020-01-30 19:05] #51 closed

[2020-02-04 13:39] aufi commented on #315
No, I think we can close this,

[2020-02-04 13:39] #315 closed

[2020-02-17 14:31] fdupont-redhat commented on #492
@Fryguy @mfeifer would you mind closing this issue. I talked with @aufi and it's very low priority as we don't need it for v2v.

[2020-02-17 14:31] mfeifer commented on #492
See above.

[2020-02-17 14:31] #492 closed

[2020-02-20 07:27] aufi commented on #498
I can understand misleading naming Tenant vs. Project. It is related to Keystone v2 (Tenant) vs. Keystone v3 (Project). ManageIQ currently supports both v2/v3 versions. I make sense to me replace Tenant with consistent naming "Project" once supported OSP versions drop Keystone v2.

[2020-02-22 19:17] jwcroppe commented on #155
@dikonoor Does this still remain a problem to your knowledge?

[2020-05-27 08:06] jbeal-work opened #595 "Having disabled projects can stop information gathering"
All our projects have admin as a member.

If we disable a project then the following do not get updated : Instances, images and security groups.

For example here I have disabled team117 and only team117

Project Name    team117
Project ID    e33cb0886a664b709c20a7f6ede743f0
Enabled    No
Description    None

Then after setting fog to debug

[2020-05-27 08:59] jbeal-work commented on #595
![image](https://user-images.githubusercontent.com/20739860/82999295-b37d5100-a000-11ea-90a6-7eea6d1595b9.png)
And cloud volumes

[2020-05-29 19:58] Fryguy opened #601 "qpid_proton is being forced to be required"
qpid_proton is an optional depedency in core, and if someone doesn't have it installed, the current code fails when doing this line:

https://github.com/ManageIQ/manageiq-providers-openstack/blob/daa0965840695d6e9b47a177d66949c99158148c/lib/manageiq/providers/openstack/legacy/openstack_event_monitor.rb#L130-L131

which in turn loads all of:

https://github.com/ManageIQ/manageiq-providers-openstack

[2020-05-29 19:58] Fryguy commented on #601
cc @aufi @agrare

[2020-05-31 20:32] #601 closed

[2020-06-04 14:51] chessbyte opened #606 "Non-Read Operations should be done with the ManageIQ User credentials"
ManageIQ typically uses OpenStack credentials that have a wide scope, in order to collect as much inventory as possible.  When using the same credentials for non-read operations, it is impossible to tell from OpenStack who created or updated an entity.  It also makes associating an entity with an OpenStack project harder.

Wondering if [OpenStack Trusts](https://wiki.openstack.org/wiki/Keystone/Tr

[2020-06-22 20:36] agrare commented on #545
We have a "#deprecated" attribute that can be set by the parser, cc @andyvesel

[2020-06-25 12:22] himdel commented on #545
The UI screenshot is suffering from https://github.com/ManageIQ/manageiq-ui-classic/issues/6543,
which was fixed in https://github.com/ManageIQ/manageiq-ui-classic/pull/7149.

Assuming the openstack `deprecated` attribute affects the result of `MiqTemplate#display_deprecated`, this is fixed now.

[2020-07-06 18:58] Fryguy commented on #478
Closing as the question has been answered.  Please reopen if you are still seeing an issue.

[2020-07-06 18:58] #478 closed

[2020-07-06 19:09] Fryguy commented on #497
@lodgenbd Is this still an issue?  It seems the original issue as reported was answered, but that led to another issue.  If so, can you create a new issue and/or update the OP of this issue accordingly?

[2020-07-13 19:18] gtanzillo commented on #497
Closing due to lack of activity. Please reopen if necessary

[2020-07-13 19:18] #497 closed

[2020-07-14 13:40] agrare opened #619 "No indication that event collection would fail when validating endpoints"
I added an Openstack provider using Ceilometer for events, the event catcher later failed on 404 for `/v2/events`

[code]

But the credential validation was successful, there was no indication on the UI anywhere that event collection would fail

[2020-07-14 14:48] agrare opened #620 "Ceilometer events fail on a missing `/v2/events` endpoint"
[code]

[2020-07-15 06:05] aufi commented on #620
This doesn't look a the provider bug, but missing or not correctly working Ceilometer/Panko service on OpenStack side.

It should be checked whether Events are working from the OpenStack CLI using commands:
[code]
(commands are the same for both Ceilometer&Panko)

[2020-07-15 06:26] aufi commented on #619
This is (most likely) caused by a not ideal Ceilometer -> Panko API transition. The validation tries connect to the Panko (and Ceilometer as a fallback) service by the endpoint from Keystone catalog, not requesting actual events on the /v2/events path. This worked well until OpenStack telemetry _modified_ Ceilometer API removing events-related functionality, but keeping other parts (port 8777 belo

[2020-07-21 12:29] agrare commented on #620
Thanks so much @aufi missing Panko service was the cause, closing

[2020-07-21 12:29] #620 closed

[2020-07-22 12:51] andyvesel opened #622 "CLI for ManageIQ - do we want it?"
Just curios, what Manageiq folks think about if we'd have a console tool for fetching provider resources with miq api. The idea is -  simply do in console what api allows us to do: controlling provider (Openstack in this case), instance operations, etc...
I saw some repos like https://github.com/rhpit/manageiq-cli or https://github.com/juliancheal/ManageIQ-Cli, they don't seem to be supported for

[2020-07-30 22:27] Fryguy commented on #622
I started putting together a cli that was more about deployment.  I never thought of a cli for fetching data though, which is interesting. Even so, we already have a cli that can fetch data from the API (see the manageiq-api-client repo), so if users need data they can use that.

[2020-08-28 15:44] jaywcarman opened #630 "Registration does not validate 'Domain ID' (Keystone V3)"
The registration 'Validate' button does not validate the 'Domain ID' field (depends on API = Keystone V3).

Once a provider instance is created, the Authentication>Re-check Authentication Status button _will_ validate the 'Domain ID'.

It is confusing to pass creation validate and then immediately fail the authentication check.

[2020-09-16 12:53] jaywcarman opened #635 "Provider registration "Validate" button does not activate"
When registering a new OpenStack Cloud Provider the "Validate" button does not activate despite all required fields being populated. This form was working 19 days ago (see #630 hehe). I'm guessing something got broken when the DDF schema was recently updated in #626.

![image](https://user-images.githubusercontent.com/1637291/93339328-0f0e5d00-f7f1-11ea-9923-0bfc204a7f34.png)

[2020-09-16 12:58] agrare commented on #635
I think @skateman has a fix for this issue

[2020-09-16 13:00] skateman commented on #635
Yeah, this is the same issue as https://github.com/ManageIQ/manageiq-providers-ovirt/issues/522, there's a fix but the CI is red on it https://github.com/ManageIQ/manageiq-ui-classic/pull/7308

[2020-09-16 13:03] jaywcarman commented on #635
Great, I'll subscribe to the manageiq-ui-classic fix. Thanks for the quick response!

[2020-09-17 06:41] skateman commented on #635
Tests are green, just waiting someone to merge it...

[2020-09-21 14:08] skateman commented on #635
@miq-bot close_issue
Resolved via https://github.com/ManageIQ/manageiq-ui-classic/pull/7308

[2020-09-21 14:09] #635 closed

[2020-10-01 12:02] andyvesel commented on #545
Closing the issue according to comment above ^

[2020-10-01 12:02] #545 closed

[2020-10-08 12:44] djberg96 opened #643 "Skip qpid_proton specs if not installed"
Running the specs locally I get: `An error occurred while loading ./spec/legacy/events/openstack_stf_event_monitor_spec.rb` because it requires qpid_proton.

Similar to https://github.com/ManageIQ/manageiq-providers-openstack/pull/602, the test suite should skip/filter these if qpid_proton is not installed.

[2020-10-12 20:52] #643 closed

[2020-10-26 19:08] gtanzillo commented on #498
Per comment from @Fryguy in the original issue...

Closing

[2020-10-26 19:08] #498 closed

[2020-10-26 19:10] gtanzillo commented on #495
OpenStack support tag mapping which should address this requirement. Please reopen if that is not the case.

[2020-10-26 19:10] #495 closed

[2020-12-10 15:36] daniwb commented on #364
On DevStack you can create an additional Apache Configuration to support it:
`
<Virtualhost *:5000>
ProxyPass "/identity" "unix:/var/run/uwsgi/keystone-wsgi-public.socket|uwsgi://uwsgi-uds-keystone-wsgi-public/" retry=0
ProxyPass "/" "unix:/var/run/uwsgi/keystone-wsgi-public.socket|uwsgi://uwsgi-uds-keystone-wsgi-public/" retry=0
</VirtualHost>
`

This will work for ManageIQ to add the DevStack

B

[2021-01-18 09:28] skateman opened #680 "NetworkRouter administration state should be a boolean"
The `NetworkRouter#admin_state_up` is stored either as a `'t'` string or a `nil` value. This makes the DDF conversion problemmatic as we can't easily convert this value into a checkbox/switch. @agrare would it be possible to at least have a virtual column (queryable via the API) that returns a boolean (or nil) value?

@miq-bot add_label question
Parent issue: https://github.com/ManageIQ/manageiq-u

[2021-01-25 10:40] skateman commented on #680
@miq-bot assign @agrare

[2021-01-25 15:07] agrare commented on #680
That is strange, the openstack API returns this as a boolean but our column is varchar for some reason.  I think we should do a schema migration to make this a proper boolean column.

[2021-02-04 18:37] dmetzger57 opened #688 "Missing utilization data in UI for OpenStack 16.1"
Original BZ: https://bugzilla.redhat.com/show_bug.cgi?id=1885298

Description of problem:

There are multiple issues, between docs and providers, that are resulting in lack of utilization data in the CFME UI for Openstack 16.1 providers.

1. Documentation is out of date for configuring Ceilometer for utilization collection in Openstack 16.

https://access.redhat.com/documentation/en-us/red_hat_clo

[2021-02-10 12:47] skateman commented on #680
Any update on this?

[2021-02-22 19:57] #36 closed

[2021-02-22 20:13] gtanzillo commented on #98
Ping @agrare

[2021-02-22 21:00] chessbyte commented on #98
I will take this one.

[2021-02-24 16:57] #98 closed

[2021-04-01 00:15] agrare opened #697 "Class and instance connect/verify use competely different code paths"
The code used to verify credentials via DDF forms for create/edit actions is completely different from the code used after the provider is created.

This inconsistency means it is possible for one to pass and another to fail.

[2021-04-14 13:58] DavidResende0 opened #703 "Unable to Create Network Router Error"
When trying to create a new Network Router using the `OpenStack Network Manager` this error occurs:

![image](https://user-images.githubusercontent.com/64800041/114719029-9cbd1700-9d04-11eb-8246-080d3db58ef1.png)

This is the backtrace from `evm.log`:
[code]

[2021-04-19 14:35] agrare commented on #703
@DavidResende0 I wasn't able to reproduce this on master, I was able to create a network successfully.

If you can reproduce this can you share the environment with me?

[2021-04-19 14:42] Fryguy commented on #703
Try turning on ui.mark_translated_strings.  A lot of issues that @DavidResende0 is found that way, many times because keys of Hashes are being translated (and then later lookups into those hashes fail)

[2021-04-19 14:55] DavidResende0 commented on #703
I tried running it with `mark_translated_strings` off and I'm still getting the error in master, locally.

[2021-04-19 14:56] agrare commented on #703
@DavidResende0 maybe a silly question, but do you have valid credentials for this provider?  I'm assuming it is failing to delegate from the network manager to the cloud manager for `with_provider_connection` but it is also possible that your cloud_manager doesn't have credentials set.  e.g. was this an imported database?

[2021-04-19 14:57] DavidResende0 commented on #703
yes it was imported

[2021-04-19 15:24] agrare commented on #703
Does this openstack provider have valid credentials?  Are you able to run a refresh for example

[2021-04-19 15:25] agrare commented on #703
If your provider doesn't have valid credentials then I think this is working as expected.  Possibly we should be checking if the provider has valid authentication in the `supports :create` block, but that is something that isn't unique to creating network routers.

[2021-04-19 16:23] DavidResende0 commented on #703
So this is probably the issue then?
![image](https://user-images.githubusercontent.com/64800041/115270088-fc069700-a109-11eb-9465-12197bf5bf1f.png)

[2021-04-19 16:25] agrare commented on #703
Yes exactly, if you import a database all of the records on the providers are essentially read-only and can't have any actions done on them unless you have access to the original provider

[2021-04-19 16:28] DavidResende0 commented on #703
So I would need a new provider in order to test making a new Network Router

[2021-04-19 16:39] agrare commented on #703
Not necessarily a new provider (if you know what system that is you could edit your current one and input correct credentials), but in order to do any operations on any provider you have to have valid authentication.

I'm going to close this since "Missing credentials" appears to be the valid error in this case given your Default Credentials status in that screenshot.

[2021-04-19 16:39] #703 closed

[2021-08-09 17:53] Fryguy opened #725 "[RFE] Support Keystone as an OIDC auth provider"
Some information - https://docs.openstack.org/keystone/latest/admin/federation/configure_federation.html

[2021-08-23 21:04] #680 closed

[2021-10-25 15:14] AlexonOliveiraRH opened #751 "Targeted refresh not working for OpenStack (Train) provider"
The `:ems_refresh:` is set with `:allow_targeted_refresh: true` and `:refresh_interval: 15.minutes` for the OpenStack provider, like the following:

[code]

But targeted refresh is not working, only full refreshes. No `EventCatcher` is shown in the `evm.log` file.

The CFME version is 5.11.11.0 and CloudForms version is 5.0 (ManageIQ Ivanchuk). Legacy telemetry (Ceilometer, Gnocchi, Aodh and Panko

[2021-11-22 13:40] daniloperogil commented on #751
Hello,

Here are the Workers outputs.

#######
[root@cf103 vmdb]# rake evm:status
Checking EVM status...
 Region | Zone          | Server     | Status  |  PID |   SPID | Workers | Version   | Started    | Heartbeat   | MB Usage | Roles
--------+---------------+------------+---------+------+--------+---------+-----------+------------+-------------+----------+----------------------------------------

[2021-11-22 14:05] agrare commented on #751
Thank you, so it appears the event catchers are running on appliance cf103:
[code]

Can you run `grep '#8892 /var/www/miq/vmdb/log/evm.log` on that cf103 appliance and post the results?  Thanks!

[2021-11-22 14:14] daniloperogil commented on #751
Hello,

Follow the outputs.

[----] I, [2021-11-22T10:57:16.898936 #8892:2ad3b6f0e54c]  INFO -- : Querying OpenStack for events newer than ...
[----] I, [2021-11-22T10:57:31.967000 #8892:2ad3b6f0e54c]  INFO -- : Querying OpenStack for events newer than ...
[----] I, [2021-11-22T10:57:47.029489 #8892:2ad3b6f0e54c]  INFO -- : Querying OpenStack for events newer than ...
[----] I, [2021-11-22T10:58:0

[2021-11-22 14:19] agrare commented on #751
Okay it appears that the event query is not failing, but it also never returns any events.

That log line should include the timestamp of the last event that was returned, or `nil` if it is the first query.  From that it appears that `@since` is always `nil`.

Seems something might be wrong with the ceilometer service?

[2021-11-22 14:24] AlexonOliveiraRH commented on #751
@agrare, Ceilometer `polling_interval` is configured to 300s. We did different tests within OSP regarding alarming and other stuff that makes use of Ceilometer and it works pretty well, although it needs some timing adjustments that will be done soon. I don't know if you could answer that, but what kind of issues are looking for in Ceilometer if that's the case?

[2021-11-22 14:50] agrare commented on #751
Honestly I don't know, this is probably where we need to pull @andyvesel or someone with more backend openstack expertise.

From a MIQ core point of view we are running the worker and it is querying for events, after that it is an openstack provider / openstack concern.

[2021-11-22 14:52] AlexonOliveiraRH commented on #751
@agrare, got it. @andyvesel, could you give us a hand on this?

[2022-01-06 19:51] AlexonOliveiraRH commented on #751
Hey @andyvesel, any thoughts?

[2022-08-25 13:03] maly-glod opened #820 "MIQ -> Compute -> Clouds -> Flavors -> Add new flavor -> 400 bad request."
Hi,

I'd like to report a problem with adding a new Flavor via ManageIQ. When I try to add new flavor, I get an error with the code 400 (Bad Request). In logs I can see that MIQ tries to make an API request on the following URI:  **`/api/providers/%5Bobject%20Object%5D/flavors`**

Here is a log from this call:
[code]
My environment is:
OpenStack Xena:
[code]

ManageIQ Version:  najdorf-1.3

Due to

[2022-08-25 15:52] agrare commented on #820
Thanks for the bug report @maly-glod I'm going to see if I can reproduce this now

[2022-08-25 16:08] agrare commented on #820
So I was able to create a flavor with this form successfully using the same version of openstack you have.
This actually looks like a UI issue where it is posting to the API with an invalid provider ID.

This is what the API POST looks like on my system `INFO -- api: MIQ(Api::ProvidersController.log_request) Request:        {:method=>:post, :action=>"create", :fullpath=>"/api/providers/2/flavors",

[2022-08-25 16:43] GilbertCherrie commented on #820
I will take a look.

[2022-08-29 08:20] maly-glod commented on #820
Hi @GilbertCherrie

had You any chance to look a it?

[2022-08-29 15:48] GilbertCherrie commented on #820
This is fixed in pr: https://github.com/ManageIQ/manageiq-ui-classic/pull/8328. This pr is not in Najdorf however. @agrare @Fryguy Should this be backported to Najdorf?

[2022-08-29 15:49] agrare commented on #820
Yes it should be, thanks for tracking it down @GilbertCherrie

[2022-08-29 15:50] GilbertCherrie commented on #820
No problem @agrare

[2022-09-07 10:26] maly-glod commented on #820
Hi @GilbertCherrie any update on backporting this fix to Najdorf?

[2022-09-07 11:29] maly-glod opened #824 "MIQ -> Storage -> Volumes -> Add a new Cloud Volume -> MiqException::ServiceNotAvailable"
Hi,
I ran into another problem with miq-openstack-provider. When trying to add a new Volume I get the error: **MiqException::ServiceNotAvailable**.

My environment is:
OpenStack Xena:
[code]
ManageIQ Version: manageiq-openstack-najdorf-20220826.qc2 (testing this (newest?) version, becasue of problem with flavors in Najdorf-1.3 #820)

Here is a log from this call:
[code]

[code]
Below same pics:
![

[2022-09-07 15:35] GilbertCherrie commented on #820
Not sure, @Fryguy @agrare any updates on when this can be backported to Najdorf?

[2022-09-07 15:57] agrare commented on #820
It is marked `najdorf/yes` so whenever @Fryguy runs the backport script for that branch

[2022-09-14 17:41] Fryguy commented on #824
@agrare Can you take a look at this one?

[2022-09-20 11:58] maly-glod commented on #820
As suggested, I have to build mq appliance myself to get the fix or wait until the new official version/tag is released.

[2022-09-20 11:58] #820 closed

[2022-09-20 12:20] maly-glod commented on #824
Hi @agrare,

did you manage to look at this issue?